body{
    background-color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
    
}
#header {
    max-height: 390px;
    
}

#header_titulo {
    color:#c22774;
}

header {
    background-image: url("../img/fondo7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    max-width: 100%;
    opacity: 0.9;
  }
.navbar-brand-img{
    height: 60px;
    border: 1px blue;
  }
footer{
    margin-top: 85px;
    width: 100%;
}